.pagination {
}

.pagination .page-numbers button {
  background-color: #dbdbdb1c;
  display: inline-block;
  height: 3rem;
  min-width: 3rem;
  border-radius: 11px;
}

.pagination .page-numbers button.active,
.pagination .page-numbers button:hover {
  background-color: var(--color-primary);
  color: #fff;
}
