/*//////////////////// DOMAIN SEARCH SECTION ///////////////////////////*/
/* //////////////////////////////////////////////////////////////////// */
#domain-search .search-form-container {
  max-width: 800px;
  margin: 0 auto;
}

#domain-search .domain-search-form {
  margin-top: 3rem;
}

#domain-search .search-input-wrapper {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  transition: var(--transition-base);
  position: relative;
}

#domain-search .domain-input {
  flex: 1;
  padding: 1.8rem 4rem 1.8rem 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-primary);
  background-color: #ebebebb2;
  border-radius: var(--radius-16);
  border: 1px solid #ebebebb2;
}

#domain-search .domain-input:focus {
  border: 1px solid var(--color-primary);
}

#domain-search .domain-input::placeholder {
  color: var(--color-text);
  font-weight: 400;
}

#domain-search .search-input-wrapper i {
  position: absolute;
  top: 50%;
  right: 1.4rem;
  transform: translateY(-50%);
}

#domain-search .btn {
  padding: 1.8rem 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

#domain-search .search-btn i {
  font-size: 1.4rem;
}

/*//////////////////// CHOICE  SECTION /////////////////////////*/
/* //////////////////////////////////////////////////////////////////// */
.why-choose-us {
  background: var(--color-light-gray);
}

.feature-description {
  color: var(--color-text);
  margin-bottom: 0;
}

/* Responsive Design */
@media (max-width: 767px) {
  #domain-search .domain-search-form {
    display: block !important;
  }

  #domain-search .search-input-wrapper {
    flex-direction: column;
  }

  #domain-search .btn {
    width: 100%;
  }

  #domain-search .domain-input {
    width: 100%;
    margin-bottom: 1rem;
  }
}
