footer {
  color: var(--color-text);
  position: relative;
  overflow: hidden;
  background-color: var(--color-primary);
}

footer .main-container {
  position: relative;
  z-index: 2;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      3px 3px at 10% 90%,
      rgba(255, 255, 255, 0.9),
      transparent
    ),
    radial-gradient(
      2.5px 2.5px at 25% 65%,
      rgba(255, 255, 255, 0.7),
      transparent
    ),
    radial-gradient(3px 3px at 80% 70%, rgba(255, 255, 255, 0.8), transparent);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

footer li a {
  color: var(--color-text-dark);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.4rem 0;
  display: inline-block;
  transition: 0.3s linear;
  position: relative;
}

footer .content li a::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: var(--transition-base);
}

footer .content li a:hover {
  color: #fff;
  transform: translateX(3px);
}

footer .content li a:hover::before {
  width: 100%;
}

footer .nav-title {
  color: #fff;
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
}

footer .social-links {
  margin-top: 4rem;
  margin-bottom: -2rem;
  position: relative;
  z-index: 4;
}

footer .social-item {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f6f6f638;
  transition: 0.2s linear;
}

footer .social-item:hover {
  transform: scale(1.06);
}

footer .social-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

footer .social-item i {
  color: #fff;
  transition: 0.3s linear;
}

footer .social-item:hover i {
  color: var(--color-text);
}

@media (max-width: 991px) {
  footer .social-links {
    margin-bottom: 2rem;
  }
}
