/* /////////////////// VPS FEATURES STYLES /////////////// */
/* /////////////////////////////////////////////////////// */
#vps-features .card-item {
  border-radius: var(--radius-24);
  overflow: hidden;
  box-shadow: var(--drop-shadow);
  transition: 0.3s linear;
}

#vps-features figure {
  height: 30rem;
  width: 100%;
  border-radius: 0 0 80px 80px;
  background-color: #c0c0c03d;
  position: relative;
}

#vps-features figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      14px at 60% 14%,
      #0000001a 100%,
      transparent 100%
    ),
    radial-gradient(8px at 25% 85%, #0000001a 100%, transparent 100%),
    radial-gradient(8px at 7% 45%, #0000001a 100%, transparent 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#vps-features figure img {
  transition: 0.3s linear;
  object-fit: fill;
}

#vps-features .card-item:hover img {
  transform: scale(1.05);
}

#vps-features .card-title {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 0;
  margin-bottom: 1rem;
}

#vps-features .card-date {
  font-size: 1rem;
  color: #6e6e6e;
  font-weight: 700;
}

#vps-features .card-desc {
  font-size: 1.4rem;
  color: var(--color-text);
  margin-bottom: 2rem;
}
