* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Custom Colors */
  --color-primary: #000000;
  --color-text: #a7a7a7;
  --color-secondary: #28a745;

  --radius-16: 16px;
  --radius-24: 24px;
  --radius-28: 28px;
  --radius-18: 18px;

  --drop-shaow: 9.34px 16.01px 28.02px 0 #184f780d,
    -9.34px -16.01px 28.02px 0 #184f780d;

  --shadow-sm: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 10px 15px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 20px 25px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 25px 50px rgba(0, 0, 0, 0.25);
  --shadow-special: 9.34px 16.01px 28.02px 0 #184f780d,
    -9.34px -16.01px 28.02px 0 #184f780d;

  --transition-base: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --transition-bounce: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

/* Global Styles */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary);
  background-color: #ffffff;
  overflow-x: hidden;
  transition: all 0.3s linear;
}

img {
  width: 100%;
  height: auto;
}

img.cover {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

section {
  overflow: hidden;
}

/* Section Styles */
.section-padding {
  padding: 5rem 0;
  scroll-margin-top: 2rem;
}

.main-container {
  width: min(1280px, 90%);
  margin: 0 auto;
}

.hero-heading {
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff;
}

.section-heading {
  font-size: 2.9rem;
  font-weight: 700;
  margin-bottom: 2.8rem;
  line-height: 1.3;
  color: var(--color-primary);
}

.section-subheading {
  font-size: 1.6rem;
  background-color: #f5e7e7;
  padding: 14px 24px;
  border-radius: var(--radius-16);
  border: 1.2px #22222240;
  display: inline-block;
  margin-bottom: 1.4rem;
}

.description {
  font-size: 2.2rem;
  line-height: 1.5;
  color: var(--color-text);
}

/*//////////////// Animations /////////////////////*/
/* Hide elements before animation */
[data-animate] {
  opacity: 0;
}

/* Show elements after animation */
[data-animate].animated {
  opacity: 1;
}

.card-hover-effect:hover {
  transform: translateY(-10px);
  box-shadow: var(--shadow-lg);
}

.btn-pulse {
  position: relative;
  overflow: hidden;
}

.btn-pulse:hover,
.btn-pulse-infinite {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.img-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* //////////////////// MEDIA QUESRIES ///////////////// */
/* ///////////////////////////////////////////////////// */
@media (min-width: 1600px) {
  html {
    font-size: 90%;
  }

  .main-container {
    width: 1700px;
    max-width: 90%;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 70%;
  }

  .hero-heading {
    font-size: 3.6rem;
  }

  .section-padding {
    padding: 3rem 0;
  }

  .section-heading {
    font-size: 2.2rem;
  }
}
