* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Custom Colors */
  --color-primary: #000000;
  --color-light-gray: #ebebebb2;
  --color-secondary: #28a745;
  --color-text: #6e6e6e;
  --color-text-dark: #a7a7a7;

  --radius-16: 16px;
  --radius-24: 24px;
  --radius-28: 28px;
  --radius-18: 18px;

  --drop-shadow: 9.34px 16.01px 28.02px 0 #184f780d,
    -9.34px -16.01px 28.02px 0 #184f780d;

  --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 10px 15px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 20px 25px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 25px 50px rgba(0, 0, 0, 0.25);
  --shadow-special: 9.34px 16.01px 28.02px 0 #184f780d,
    -9.34px -16.01px 28.02px 0 #184f780d;

  --transition-base: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --transition-bounce: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

/* Global Styles */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary);
  background-color: #ffffff;
  overflow-x: hidden;
  transition: all 0.3s linear;
}

img {
  width: 100%;
  height: auto;
}

img.cover {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

figure {
  margin-bottom: 0;
}

section {
  overflow: hidden;
}

/* Section Styles */
.section-padding {
  padding: 5rem 0;
  scroll-margin-top: 2rem;
}

.main-container {
  width: min(1280px, 90%);
  margin: 0 auto;
}

.hero-heading {
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff;
}

.section-heading {
  font-size: 2.9rem;
  font-weight: 700;
  margin-bottom: 2.8rem;
  line-height: 1.3;
  color: var(--color-primary);
}

.section-subheading {
  font-size: 1.6rem;
  background-color: #f5e7e7;
  padding: 14px 24px;
  border-radius: var(--radius-16);
  border: 1.2px #22222240;
  display: inline-block;
  margin-bottom: 1.4rem;
}

.description {
  font-size: 2.2rem;
  line-height: 1.5;
  color: var(--color-text);
}

.normal-para {
  font-weight: 400;
  color: var(--color-text);
  font-size: 1.4rem;
}

.btn {
  border: none;
  outline: none;
  display: inline;
  width: initial;
  white-space: nowrap;
  border: 1px solid transparent;
  transition: var(--transition-base);
}

.primary-btn,
.secondary-btn {
  padding: 1.3rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: var(--radius-16);
}

.primary-btn {
  background-color: var(--color-primary);
  color: #fff;
}

.primary-btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.secondary-btn {
  background-color: #fff;
}

.secondary-btn:hover {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}

.dashb-light-btn {
  border-radius: 8px;
  background-color: #0000001a;
  font-size: 1.4rem;
  padding: 8px 1rem;
  transition: var(--transition-base);
}

.dashb-light-btn:hover {
  background-color: #08080830;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* Style all text-based inputs and textareas */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  outline: none;
  border: 1px solid transparent;
  background-color: var(--color-light-gray);
  padding: 1.3rem 1.7rem;
  border-radius: var(--radius-16);
  width: 100%;
  transition: 0.3s linear;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--color-light-gray) !important;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  min-width: 100px;
  border: 1px solid transparent;
  padding: 1.3rem 4rem 1.3rem 1.7rem;
  border-radius: var(--radius-16);
  width: 100%;
  height: 100%;
  transition: border-color 0.2s ease;
}

/* For dark backgrounds */
select.dark-arrow {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--color-primary);
  outline: none;
  box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.2);
}

input::placeholder,
select,
textarea::placeholder {
  color: var(--color-text) !important;
  font-size: 1.4rem;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

/* Change color of Bootstrap switch (checkbox) when checked */
.form-check-input {
  width: 4rem !important;
  height: 2rem !important;
}

.form-check-input:checked {
  background-color: #13ee3be5;
  border-color: #13ee3be5;
}

/* Optional: remove the blue focus glow */
.form-check-input:focus {
  box-shadow: none;
  border-color: #13ee3be5;
}

.ellipse-lg {
  position: absolute;
  width: 11rem;
  height: 11rem;
  background-color: #0000000f;
  border-radius: 50%;
  z-index: -1;
}

.ellipse-sm {
  position: absolute;
  width: 6rem;
  height: 6rem;
  background-color: #0000000f;
  border-radius: 50%;
  z-index: -1;
}

/* ///////////////////////// UTILITY CLASSES ///////////////////// */
.clr-text {
  color: var(--color-text);
}

.clr-text-dark {
  color: var(--color-text-dark);
}

.shadow-normal {
  box-shadow: var(--drop-shadow);
}

/*//////////////// Animations /////////////////////*/
/* Hide elements before animation */
[data-animate] {
  opacity: 0;
}

/* Show elements after animation */
[data-animate].animated {
  opacity: 1;
}

.fast-animation {
  --animate-duration: 0.5s;
}

.slow-animation {
  --animate-duration: 2s;
}

.card-hover-effect:hover {
  transform: translateY(-10px);
  box-shadow: var(--shadow-lg);
}

.btn-pulse {
  position: relative;
  overflow: hidden;
}

.btn-pulse:hover,
.btn-pulse-infinite {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.img-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* //////////////////// MEDIA QUESRIES ///////////////// */
/* ///////////////////////////////////////////////////// */
@media (min-width: 1600px) {
  html {
    font-size: 90%;
  }

  .main-container {
    width: 1700px;
    max-width: 90%;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 70%;
  }

  .hero-heading {
    font-size: 3.2rem;
  }

  .section-padding {
    padding: 3rem 0;
  }

  .section-heading {
    font-size: 2.2rem;
  }

  .primary-btn {
    font-size: 15px;
  }
}
