/*/////////////////////// HEADER STYLE ////////////////////////*/

header {
  min-height: 8rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

header .navbar-brand h4 {
  font-size: 2rem;
}

.nav-item a {
  color: var(--color-text);
  font-size: 1.5rem;
  transition: 0.3s linear;
}

.nav-item > a:hover {
  color: #fff;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-link,
.nav-link:focus {
  color: var(--color-text);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff !important;
}

.language-selector {
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
  background: transparent !important;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--color-text);
}
.navbar-toggler {
  border: none;
  padding: 0.25rem 0.5rem;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-toggle::after {
  display: none;
}

span.dropdown-toggle {
  color: var(--color-text) !important;
  cursor: pointer;
}

.navbar-collapse.collapse.show {
  padding-top: 2rem;
}

/* Add this to your CSS */
.navbar-toggler {
  color: white !important; /* Makes the icon white */
}

.navbar-toggler i.bi-list {
  font-size: 4rem;
}
